<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastCards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        nav { display: flex; gap: 15px; background: #222; padding: 10px; border-radius: 5px; margin-bottom: 20px;}
        nav a { color: white; text-decoration: none; }
        .flash { padding: 10px; margin-bottom: 15px; border-radius: 4px; background-color: #ffe3e3; color: #cc0000; }
        .flash.success { background-color: #e3ffe5; color: #00cc22; }
    </style>
</head>
<body>
    {% if current_user.is_authenticated and current_user.is_guest %}
        <div style="background: #2b6cb0; color: white; text-align: center; padding: 8px; font-weight: bold; font-size: 0.9em; margin-bottom: 15px; border-radius: 4px;">
            Espace invité de {{ current_user.owner_username }} (Lecture seule)
        </div>
    {% endif %}
    {% if not hide_navbar %}
    <nav style="overflow: hidden;">
        {% if current_user.is_authenticated %}
            {% if not current_user.is_guest %}
                <a href="{{ url_for('profile') }}" style="color: #68d391; text-decoration: none; font-weight: bold;">
                    Profil</a>|
            {% else %}
                <span style="color: #cbd5e0; font-weight: bold; ">
                    Invité
                </span>|
            {% endif %}
            <a href="{{ url_for('index') }}">Accueil</a> |
            <a href="{{ url_for('logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ url_for('login') }}">Connexion</a> |
            <a href="{{ url_for('register') }}">Inscription</a>
        {% endif %}
    </nav>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>